body {
	padding-top: 20px;
}

p {
	margin: 0px 15px 0px 15px;
}

.container-fluid {
	padding: 0 0 15px 0;
}

#faq_cat {
	margin-left: 15px;
}

/*
.links-frame {
	float: left;
	width: 195px;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 15px 0px 0px 15px;
	background: transparent;
}

.links-frame ul {
	margin: 0px 0px 0px 15px;
	padding: 0;
	list-style: disc;
}

.links-frame h3 {
	margin: 0px 0px 10px 0px;
}
*/