/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #333332;
    color: #fff;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

.pushy ul{
    margin: 0;
    padding: 0;
}
.pushy ul li{
    list-style: none;
    font-size: 1.1em;
}
.pushy ul li.nav-header{
    text-transform: uppercase;
    padding: 4px 30px 4px 15px;
    font-size: 1em;
    margin-top: 10px;
    font-weight: bold;
}

.pushy a{
    display: block;
    color: #ccc;
    text-decoration: none;
    padding: 5px 30px 5px 15px;
}

.pushy .active a{
	background: #555;
	color: #fff;
}

.pushy a:hover{
    color: #FFF;
}

.pushy a i{
	margin-left: 4px;
	top: -3px;
	position: relative;
	color: #fff;
}

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}

/* Menu Transitions */

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
    /* improves performance issues on mobile*/
/*    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
*/}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    z-index: 9999;
}

.menu-btn{
    float: left;
    padding:6px 10px 0 0;
}
.menu-btn:hover{
    text-decoration: none;
}

.pushy .pushy-close{
    padding-top: 12px;
    font-size: 1.5em;
}