# Add any directories, files, or patterns you don't want to be tracked by version control
/.docker/data
config.php
config.php.*
!config.php.default
.DS_Store
error_log
templates/templates_c/*
.ftpquota
uploads/*
/vendor
!uploads/.gitkeep 
phpmyadmin/*
node_modules
cypress.env.json
db/queries/*.csv
.php-cs-fixer.cache
# Cypress test artifacts
cypress/screenshots/
cypress/videos/
