:root {
    --boxwiseBlue: #009DAD;
    --boxwiseYellow: #f4e6a0;
    --boxwiseButtons: #315c88;
    --headerBackground: #ffffff;
    --sidebarBackground: #ffffff;
    --sidebarFontColor: #000000;
    --inactiveTabsBackground: #eee;
    --activeOrHoverTabsBackground: #fff;
    --buttonTextColor: #fff !important;
    --rightPanelTextColor: #EF404A;
}